examples/PubSub.json
[{"id":"d4d0b2a.62a0e5","type":"tab","label":"Pub Sub","disabled":false,"info":""},{"id":"9fdda996.a415a8","type":"inject","z":"d4d0b2a.62a0e5","name":"","topic":"","payload":"Hello World","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":300,"wires":[["cd2bcf08.e121c"]]},{"id":"cd2bcf08.e121c","type":"google-cloud-pubsub out","z":"d4d0b2a.62a0e5","account":"","topic":"test-topic","name":"","x":440,"y":300,"wires":[]},{"id":"a324cfa1.ffe2f","type":"google-cloud-pubsub in","z":"d4d0b2a.62a0e5","account":"","subscription":"test-topic","name":"","x":180,"y":400,"wires":[["8366e657.224758"]]},{"id":"8366e657.224758","type":"debug","z":"d4d0b2a.62a0e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":420,"y":400,"wires":[]},{"id":"ec5e4188.efd9f","type":"comment","z":"d4d0b2a.62a0e5","name":"README","info":"# Pub/Sub\nExample illustrating the GCP Pub/Sub nodes.\n\nClick on the `Hello World` Inject node which will publish\na string payload message to the topic.\n\nThis will result in a message being published which\nwill be received by the corresponding Pub/Sub input node\nwhich will write it to the debug output.\n\nYou must create a GCP Pub/Sub topic and a subscription\nin your GCP project and enter those values in\nthe Pub/Sub node configurations.","x":180,"y":200,"wires":[]}]